@import url('https://fonts.cdnfonts.com/css/hedvig-letters-serif');

body {
  margin: 0;
  padding: 0;
}
.dishcovery{
  font-family: 'Hedvig Letters Serif', sans-serif;
  font-size: 20px;
}
nav {
  background-color: #333;
  color: white;
  padding: 0px 20px;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
}

nav a:hover {
  text-decoration: underline;
}