.btn {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    border: 1px solid #f7f7f7;
    background-color: #fff;
}
.form-control { 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 400px;
}
form {
    display: flex;
    width: 100%;
    justify-content: center;
}
input {
    border: 1px solid #f7f7f7;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
}
input:focus {
    outline: none;
}